@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Main Format */
body {
  margin: 0;
  height: 100vh;
}

.App {
  padding: 1.5em 1.5em 3em 1.5em;
  margin: 0;
  width: 100vw;
  overflow: hidden;
}

/* Component Format */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Sub Component Format */

.logoContainer svg {
  transform: scale(0.83333333333);
}

.home {
  text-align: center;
}

.hamburger:hover g,
.close:hover g {
  fill: #979797;
  cursor: pointer;
}

.home button {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  height: 7.5em;
  width: 7.5em;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 100%;
  position: absolute;
  bottom: 2.4em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  outline: solid 0px rgb(151, 151, 151, 0.3);
  transition: outline 0.9s linear;
}
.home button:hover {
  outline-width: 2em;
  cursor: pointer;
}

#myLinks {
  position: fixed;
  inset: 0 0 0 30%;
  transition: 0.3s linear;
  transition-delay: 250ms;
  z-index: 1;
  backdrop-filter: blur(40px);
  padding: 0 1.65625em 0 2em;
}

.close {
  position: absolute;
  top: 2.125em;
  right: 1.65625em;
}

ul {
  padding: 0;
  margin-top: 7.375em;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.destination-slide,
.crew-slide,
.technology-slide {
  width: 20%;
  transition: 2s;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.crew-slide:first-of-type {
  padding-bottom: 3.125em;
}
.destination-slide img,
.crew-slide img {
  margin: 0 auto;
}
.destination-slide img {
  height: 10.625em;
}
.crew-slide img {
  height: 13.9375em;
}

.technology-slide img {
  width: calc(100% + 1.5em + 1.5em);
  transform: translateX(-1.5em);
  height: 100%;
}
.destination-manual {
  margin: 5.406% auto 4.159% auto;
}

.crew-manual,
.technology-manual,
.destination-manual {
  display: flex;
  justify-content: center;
}

.crew-manual > .manual-btn,
.technology-manual > .manual-btn {
  padding: 3px;
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
}
.crew-manual > .manual-btn {
  margin: 2.286em 0;
  opacity: 0.17;
}
.crew-manual > .manual-btn:hover {
  opacity: 0.5;
}

.technology-manual > .manual-btn {
  height: 2.857em;
  width: 2.857em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bellefair";
  font-weight: 400;
  margin: 2.43em 0 1.857em 0;
  border: 1px solid #979797;
}

.technology-manual > .manual-btn:hover {
  border: 1px solid #ffffff;
}

.manual-btn {
  padding-bottom: 0.5em;
  cursor: pointer;
  transition: 1s;
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #d0d6f9;
  letter-spacing: 2.3625px;
}

.manual-btn:not(:last-child) {
  margin-right: 1.625em;
}

.technology-manual > .manual-btn:not(:last-child) {
  margin-right: 1.14em;
}

.manual-btn:hover {
  border-bottom: 3px solid white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.destination hr {
  height: 1px;
  width: 100%;
  border: 1px solid #383b4b;
  margin: 9.79% 0;
}
.crew hr {
  height: 1px;
  width: 100%;
  border: 1px solid #383b4b;
  margin: 0;
  margin-top: -4px;
}

picture {
  height: 10.625em;
}

.technology-slide__text {
  padding-bottom: 2.063em;
}
/* Text Format */

.home h2,
.home p,
.home h1,
li,
.destination h2,
.crew h2,
.crew h3,
.destination-slide h1,
.destination-slide h2,
.destination-slide p,
.crew h1,
.technology h1,
.crew p,
.technology h2,
.technology p,
.technology h3 {
  font-weight: 400;
}

.destination span,
.crew span,
a > span,
.technology span {
  font-weight: 700;
}
.home h2,
li,
a > span,
.destination h2,
.crew h2,
.technology h2 {
  font-size: 1em;
}
.home h2,
li,
a > span,
.destination h2,
.destination-slide h2,
.crew h2,
.technology h3,
.technology h2 {
  font-family: "Barlow Condensed";
}

.destination-slide h1,
.home h1,
a,
.destination h2,
.destination-slide h1,
.destination-slide h2,
.crew h1,
.technology h1,
.crew h2,
.technology h2,
.destination-slide__stats p,
#stats {
  color: white;
}

.home h2,
.home p,
.destination-slide p,
.crew p,
.technology p,
.technology h3,
.destination-slide__stats h2 {
  color: #d0d6f9;
}

.destination-slide p,
.home p,
.crew p,
.technology p {
  font-family: "Barlow";
}

.destination-slide h1,
#stats,
.home h1,
.crew h3,
.crew h1,
.technology h1 {
  font-family: "Bellefair";
}

a,
.destination h2,
.crew h2,
.technology h2 {
  letter-spacing: 2.7px;
}

.home h2 {
  margin-top: 3em;
}

.home h1 {
  font-size: 5em;
  margin: 0.2em 0 0.25em 0;
}

.home p {
  line-height: 1.5625em;
}

.home p,
.destination-slide p,
.crew p,
.technology p {
  font-size: 0.9375em;
}

li {
  list-style-type: none;
  margin-bottom: 2em;
}

li:hover,
.destination-slide__info > .destination-manual > label:hover {
  border-bottom: 0.2rem solid #979797;
  transition: none;
}

.topnav--mobile li:hover {
  border-bottom: none;
}

.active {
  border-bottom: 0.2rem solid white;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

a > span {
  margin-left: 0.875em;
}

.destination span,
.crew span,
.crew h3,
.technology span {
  color: #979797;
}
.destination span,
.crew span,
.technology span {
  margin-right: 1.125em;
}

.destination h2,
.crew h2,
.technology h2 {
  margin-bottom: 9.79%;
}
.destination h2,
.crew h2,
.technology h2 {
  text-align: center;
}

.destination-slide h1 {
  font-size: 3.5em;
  margin: 0;
}

.destination-slide p,
.technology p,
.crew p {
  line-height: 25px;
}
.destination-slide h2 {
  margin: 0;
}
.destination-slide h2,
.technology h3 {
  font-size: 0.875em;
}

.destination-slide h2:nth-of-type(2) {
  margin-top: 9.79%;
}

#stats {
  font-size: 1.75em;
  margin-top: 3.671%;
}

.crew h3 {
  font-size: 1.125em;
}

.crew p,
.technology p,
.crew h3,
.technology h3 {
  margin: 0;
}

.crew h1,
.technology h1 {
  font-size: 1.5em;
  margin: 0.333333em 0 0.6666666em 0;
}
.technology h3 {
  letter-spacing: 2.3625px;
}

@media screen and (min-width: 630px) {
  .App {
    padding: 1.5em 1.5em 0 2.4375em;
  }
  #myLinks {
    display: contents;
    background-color: aliceblue;
  }

  ul {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.3125em;
    background: rgba(255, 255, 255, 0.04);
    padding: 0 3em;
  }

  li {
    margin: 0;
    padding: 2.4em 0;
  }

  a > span {
    display: none;
  }

  a {
    font-size: 0.875em;
    letter-spacing: 2.3625px;
  }

  .logoContainer svg {
    transform: scale(1);
  }

  .home h2 {
    font-size: 1.25em;
    margin-top: 6.5em;
  }

  .home h1 {
    font-size: 9.375em;
    margin: 0.16em 0 0 0;
  }
  .home p,
  .crew p {
    font-size: 1em;
  }
  .home p {
    line-height: 1.75em;
    width: 61.8125%;
    margin: auto;
  }

  .home button {
    width: 7.5625em;
    height: 7.5625em;
    font-size: 2em;
    bottom: 2.8125em;
  }

  .destination h2,
  .crew h2,
  .technology h2 {
    text-align: justify;
    margin: 3.2em 0 3em 0;
    font-size: 1.25em;
    letter-spacing: 3.375px;
  }
  .destination h2 {
    margin: 3.2em 0 3em 0;
  }

  .crew h2 {
    margin: 3.2em 0 1.3125em 0;
  }

  .destination-slide img {
    height: 18.75em;
  }

  .destination-manual {
    margin: 9.351% auto 5.645% auto;
  }

  .manual-btn:not(:last-child) {
    margin-right: 2.5em;
  }

  .manual-btn,
  .destination-slide p,
  .technology h3,
  .technology h1 {
    font-size: 1em;
  }

  .manual-btn {
    padding-bottom: 0.75em;
  }
  .manual-btn,
  .technology h3 {
    letter-spacing: 2.7px;
  }

  .destination-slide h1 {
    font-size: 5em;
  }

  .destination-slide p {
    width: 81.277%;
    margin: auto;
  }

  .destination hr {
    margin: 6.951% auto 3.972% auto;
    width: 81.279%;
  }

  .destination-slide__stats {
    display: flex;
    justify-content: center;
    padding-bottom: 3.875em;
  }

  .destination-slide__stats h2 {
    margin: 0 0 1em 0;
    font-size: 0.75em;
    letter-spacing: 2.3625px;
    text-align: center;
  }

  .destination-slide__stats > div {
    width: 30.638%;
  }
  #stats {
    margin: auto;
    text-align: center;
  }

  .crew-slide,
  .crew-slide__image {
    display: flex;
    flex-direction: column-reverse;
  }

  .crew-slide:first-of-type {
    padding-bottom: 0;
  }

  .crew-info {
    display: flex;
    flex-flow: column;
  }
  .crew-manual {
    order: 3;
  }

  .crew-slide hr {
    display: none;
  }

  .crew-manual > .manual-btn {
    margin: 2.624em 0;
  }
  .manual-btn:not(:last-child) {
    margin-right: 1em;
  }

  .crew-slide__image--1 img {
    height: 35.75em;
  }
  .crew-slide__image--2 img,
  .crew-slide__image--4 img,
  .crew-slide__image--3 img {
    height: 33.25em;
  }

  .crew h3 {
    font-size: 1.5em;
  }

  .crew h1 {
    font-size: 2.5em;
    margin: 0.2em 0 0.4em 0;
  }
  .crew p {
    width: 64.965%;
    margin: auto;
  }
  .technology-slide img {
    width: calc(100% + 1.5em + 2.8em);
    transform: translateX(-2.5em);
  }

  .technology-manual > .manual-btn {
    height: 3.75em;
    width: 3.75em;
    margin: 3.5em 0 2.75em 0;
  }

  .technology-manual > .manual-btn:not(:last-child) {
    margin-right: 1em;
  }

  .technology h1 {
    margin: 0.4em 0 0.4em 0;
    font-size: 2.5em;
  }

  .technology p {
    margin: auto;
    width: 58%;
    line-height: 28px;
    margin-bottom: 4.0639em;
  }

  picture {
    height: 19.375em;
  }
}

@media screen and (min-width: 1166px) {
  .App {
    padding: 4em 1.5em 0 3.4375em;
  }

  nav::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: -webkit-fill-available;
    background: #979797;
    z-index: 99;
    margin-left: 7em;
    margin-right: 48em;
  }

  ul {
    padding: 0 10.3125em 0 7.6875em;
    gap: 3em;
    backdrop-filter: blur(40px);
    top: 2.5em;
  }

  a {
    font-size: 1em;
    letter-spacing: 2.7px;
  }

  a > span {
    display: inline;
    margin: 0;
  }

  .home {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 8.8125em 0 6.875em;
    padding-bottom: 5em;
  }

  .home button {
    position: initial;
    width: 8.5625em;
    height: 8.5625em;
    margin: 0;
  }

  .homeText {
    width: 40%;
    text-align: left;
    margin-top: 17.1875em;
  }

  .home p {
    width: auto;
    font-size: 1.125em;
    line-height: 32px;
    margin-top: 1.333em;
  }

  .home h2 {
    font-size: 1.75em;
    margin: 0 0 0.857em 0;
  }

  .destination h2,
  .crew h2,
  .technology h2 {
    font-size: 1.75em;
    letter-spacing: 4.725px;
    margin: 3.571em 0 2.286em 3.982em;
  }

  .manual-btn:not(:last-child) {
    margin-right: 2.188em;
  }

  .destination-manual {
    margin: 0 auto 2.3125em auto;
    justify-content: flex-start;
  }

  .destination-slide h1 {
    font-size: 6.25em;
    padding-bottom: 0.14em;
  }

  .destination-slide p {
    width: auto;
    margin: auto;
    line-height: 32px;
    font-size: 1.125em;
  }

  .destination h2 {
    font-size: 1.75em;
    margin: 3.571em 0 2.286em 3.982em;
    letter-spacing: 4.725px;
    text-align: inherit;
  }

  .destination > .slides > .destination-slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9.8125em;
    padding-bottom: 4em;
  }

  .destination-slide__info {
    width: 32.697%;
    text-align: initial;
  }

  .destination hr {
    margin: 3.375em auto 1.75em auto;
    width: 100%;
  }

  .destination {
    padding-bottom: 3.3125em;
  }

  .destination-slide__stats {
    justify-content: flex-start;
    padding-bottom: 0;
    gap: 4.9375em;
  }

  .destination-slide__stats > div {
    width: auto;
  }

  #stats {
    text-align: inherit;
  }

  .destination-slide__stats h2 {
    font-size: 0.875em;
    margin: 0 0 0.75em 0;
    letter-spacing: 4.725px;
    text-align: inherit;
  }

  .destination-slide img {
    height: 27.8125em;
    margin: 0;
  }

  .crew-slide {
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-content: stretch;
    height: 40.875em;
  }

  .crew h3 {
    font-size: 2em;
  }
  .crew h1 {
    margin: 0.234375em 0 0.421875em 0;
  }
  .crew h1,
  .technology h1 {
    font-size: 3.5em;
  }
  .crew p {
    margin: 0 0 4.334em 0;
    width: 69.099%;
  }
  .crew p,
  .technology p {
    font-size: 1.125em;
    line-height: 32px;
  }
  .crew-info {
    text-align: initial;
    justify-content: end;
    width: 50%;
  }

  .crew-manual {
    justify-content: flex-start;
    margin-bottom: 3.251em;
  }

  .crew h2 {
    font-size: 1.75em;
    letter-spacing: 4.725px;
  }
  .crew h2,
  .technology h2 {
    margin: 3.571em 0 0 0;
  }

  .crew {
    margin-left: 6.96875em;
  }

  .crew-slide__image img {
    height: 100%;
  }

  .crew-slide__image--2,
  .crew-slide__image--1 {
    display: block;
  }

  .crew-slide__image {
    height: 100%;
  }

  .crew-slide__image--3 {
    margin-top: auto;
    height: 92.815%;
  }

  .technology-slide {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 1.625em 0 6.3125em 0;
  }
  .technology-manual {
    order: 1;
    flex-direction: column;
  }

  .technology-manual > .manual-btn {
    height: 5em;
    width: 5em;
    margin: 0;
  }

  .technology-manual > .manual-btn:not(:last-child) {
    margin-bottom: 2em;
  }

  .technology-manual > .manual-btn:not(:last-child) {
    margin-right: 0;
  }

  .technology-slide__text {
    text-align: initial;
    width: 38%;
    margin: auto 0;
  }

  .technology p {
    margin: 0;
    width: 93.561%;
  }

  .technology h1 {
    margin: 0.172em 0 0.266em 0;
  }
  .technology {
    margin-left: 6.96875em;
  }

  .technology-slide img {
    transform: translateX(1.5em);
    width: 100%;
  }
  picture {
    height: 32.9375em;
  }
}
